.photo-and-bio {
  display: flex;
  margin-bottom: 25px;
}
.photo-and-bio img {
  border-radius: 10px;
}
.photo-and-bio p {
  color: #363636;
  font-weight: 500;
  font-size: 1rem;
  margin-left: 25px;
}
@media (max-width: 769px) {
  .photo-and-bio {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .photo-and-bio p {
    margin: 25px 10px;
  }
}

@media (max-width: 769px) {
  .author-name {
    text-align: center;
  }
}

.edit-and-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
@media (max-width: 769px) {
  .edit-and-delete {
    margin-top: 25px;
  }
}

.books-by-author {
  margin: 25px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  column-gap: 15px;
  row-gap: 40px;
}
.books-by-author img {
  width: 120px;
  height: 182px;
}
@media (max-width: 769px) {
  .books-by-author {
    grid-template-columns: 112px 112px 112px;
    row-gap: 10px;
    justify-content: space-around;
  }
  .books-by-author h2 {
    text-align: center;
  }
}

@media (max-width: 769px) {
  .h2-books-by-author {
    text-align: center;
  }
}