body {
  font-family: "Oswald", sans-serif;
}

.navbar {
  background-color: black !important;
}

.navbar-brand {
  color: white !important;
  border: 3px solid white;
  font-size: 2rem;
  padding: 10px;
  margin-left: 110px;
  border-radius: 15px;
}
@media (max-width: 991px) {
  .navbar-brand {
    margin-left: 0;
  }
}

.navbar-brand:hover {
  color: black !important;
  border: 3px solid black;
  background-color: white;
}

#navbarNav {
  justify-content: flex-end;
}
#navbarNav ul {
  margin-right: 10% !important;
}
#navbarNav ul a {
  color: white !important;
  font-size: 1.5rem;
  margin-right: 25px;
}
#navbarNav ul a:last-child {
  margin-right: 0;
}
#navbarNav ul a:hover {
  color: orange !important;
}

.navbar-toggler {
  border: solid 3px white !important;
  height: 64px;
}

.navbar-toggler:focus {
  outline: none !important;
}

.line {
  background-color: white;
  width: 40px;
  height: 3px;
  margin: 10px 0px;
}

.search-bar {
  margin: 25px auto;
}

.search-home-page {
  border: solid 2px rgba(102, 102, 102, 0.562);
}

.search-home-page:focus {
  outline: none !important;
  color: #495057;
  background-color: #fff;
  border-color: #4d4d4d;
  outline: 0;
  box-shadow: 0 0 0 0.2rem;
}