@import "forms.css";
@import "authorProfile.css";
@import "books.css";

body {
  font-family: "Oswald", sans-serif;
}

h2 {
  font-weight: 700;
}

.navbar {
  background-color: black !important;
  font-weight: 700;
}

.navbar-brand {
  color: white !important;
  border: 3px solid white;
  font-size: 2rem;
  padding: 10px;
  margin-left: 110px;
  border-radius: 15px;
}
@media (max-width: 991px) {
  .navbar-brand {
    margin-left: 0;
  }
}

.navbar-brand:hover {
  color: black !important;
  border: 3px solid black;
  background-color: white;
}

#navbarNav {
  justify-content: flex-end;
}
#navbarNav ul {
  margin-right: 10% !important;
}
#navbarNav ul a {
  color: white !important;
  font-size: 1.5rem;
  margin-right: 25px;
}
#navbarNav ul a:last-child {
  margin-right: 0;
}
#navbarNav ul a:hover {
  color: orange !important;
}

.navbar-toggler {
  border: solid 3px white !important;
  height: 64px;
}

.navbar-toggler:focus {
  outline: none !important;
}

.line {
  background-color: white;
  width: 40px;
  height: 3px;
  margin: 10px 0px;
}

.search-bar {
  margin: 25px auto;
}

.search-home-page {
  border: solid 2px rgba(102, 102, 102, 0.562);
}

.search-home-page:focus {
  outline: none !important;
  color: #495057;
  background-color: #fff;
  border-color: #4d4d4d;
  outline: 0;
  box-shadow: 0 0 0 0.2rem;
}

.recent-added-img,
.author-container {
  margin-top: 30px;
  display: grid;
  justify-content: center;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
.recent-added-img .book,
.recent-added-img .author,
.author-container .book,
.author-container .author {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recent-added-img .book img,
.recent-added-img .author img,
.author-container .book img,
.author-container .author img {
  width: 157px;
  height: 250px;
}
.recent-added-img .book .book-title,
.recent-added-img .author .book-title,
.author-container .book .book-title,
.author-container .author .book-title {
  font-weight: 700;
  font-size: 1.5rem;
}
.recent-added-img .book .book-author,
.recent-added-img .author .book-author,
.author-container .book .book-author,
.author-container .author .book-author {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 0.8rem;
  color: #68696bdc;
}

.author img {
  width: 155px !important;
  height: 220px !important;
  border-radius: 15px;
}

.search-form-author {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-author {
  height: 40px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-author input {
  width: 100%;
  height: 38px;
  border-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none;
}
.search-author input:focus {
  outline: none;
  outline-color: none;
  outline-style: none;
  outline-width: 1px;
}
.search-author .btn {
  width: 10%;
  border-left: none;
  border-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media (max-width: 991px) {
  .search-author .btn {
    width: 20%;
  }
}

.btn-grid {
  display: grid;
  column-gap: 5px;
  row-gap: 5px;
  grid-template-columns: 60px 60px;
}
.btn-grid .view {
  position: relative;
  left: 30px;
}

.form-item-name-and-img {
  background-color: rgba(248, 248, 248, 0.336);
  margin-right: 50px;
}

.form-row-img label {
  font-weight: 700;
}

.form-item-bio {
  background-color: rgba(248, 248, 248, 0.336);
}
.form-item-bio span {
  font-weight: 700;
}

.btn-new-author {
  display: flex;
  justify-content: center;
}
.btn-new-author a {
  margin-right: 10px;
}

.filepond--root {
  font-family: "Oswald", sans-serif;
  margin-bottom: 0;
}

.filepond {
  width: 100%;
}

.filepond--panel-root {
  background-color: rgba(190, 190, 190, 0.274);
  border: 1px solid rgba(255, 255, 255, 0.274);
}

.filepond--drop-label {
  color: black;
  font-size: inherit;
}

.search-books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 25px;
}
.search-books div {
  display: flex;
}
.search-books label {
  font-weight: 700;
  width: 100px;
}
.search-books input {
  width: 200px;
}
@media (max-width: 782px) {
  .search-books {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.books-search-resutls {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  column-gap: 15px;
  row-gap: 15px;
  justify-items: center;
}
