<h2 style="text-align: center; font-weight: 700; margin: 25px auto;">New Author</h1>

    <form class="form-new-author" action="/authors" method="POST">
        <%- include('_form_fields') %>
        <div class="btn-new-author">
            <a class="btn btn-danger" href="/authors">Cancel</a>
            <button class="btn btn-dark" type="submit">Create</button>
        </div>
    </form>